.homePanel.homePanel-responsive.loginPanel-responsive.signup-panel(ng-controller="diabetesDiaryController" ng-init="init()")
  aside.col-sm-6.col-sm-height
    .fill-screen.stellar-bg(style='background-image: url("')
      include insulinDiaryForm